.spinner {
  animation: rotator 1.4s linear infinite;
}

.spinner__path {
  stroke-dasharray: 86.25;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash 1.4s ease-in-out infinite,
    colors 5.6s ease-in-out infinite;
}


@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}


@keyframes colors {
	0% { stroke: #748DFF; }
	25% { stroke: #cb6077; }
	50% { stroke: #f4bc87; }
	75% { stroke: #7bbda4; }
  100% { stroke: #748DFF; }
}


@keyframes dash {
  0% {
    stroke-dashoffset: 86.25;
  }

  50% {
    stroke-dashoffset: 21.5625;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 86.25;
    transform: rotate(450deg);
  }
}
