.roughly-centered {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-top: -3gr;

  @media (--small) {
    height: calc(100vh - 116px - 3gr);
    margin-top: 0;
  }

  @media screen and (orientation: portrait) {
    height: 115vw;
  }
}
