@define-mixin default-font {
  font-family: "Lora", serif;
}

@define-mixin heading-font {
  font-family: "Montserrat", sans-serif;
}

@define-mixin display-font {
  font-family: "Playfair Display", serif;
}

@define-mixin label-font {
  font-family: sans-serif;
}

@define-mixin monospace-font {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
}

@define-mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}
