@define-mixin default-font {
  font-family: "Lora", serif;
}

@define-mixin heading-font {
  font-family: "Montserrat", sans-serif;
}

@define-mixin display-font {
  font-family: "Playfair Display", serif;
}

@define-mixin label-font {
  font-family: sans-serif;
}

@define-mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}
