$base00: #3B3228;
$base01: #534636;
$base02: #645240;
$base03: #7e705a;
$base04: #b8afad;
$base05: #d0c8c6;
$base06: #e9e1dd;
$base07: #f5eeeb;
$base08: #cb6077;
$base09: #d28b71;
$base0a: #f4bc87;
$base0b: #beb55b;
$base0c: #7bbda4;
$base0d: #8ab3b5;
$base0e: #a89bb9;
$base0f: #bb9584;

$fadedBlue: #748DFF;

$accent: $base09;
$text-color: color($base02 saturation(-20));
$darker-text-color: $base00;
$link-color: color($accent saturation(-17.5));
