html {
  font-size: 13px;

  @media (--xsmall) { font-size: 14px; }
  @media (--small) { font-size: 15px; }
  @media (--medium) { font-size: 16px; }
}

body {
  @mixin default-font;

  background: white;
  color: $text-color;
  font-size: .95rem;
  line-height: 1.95;
  margin-bottom: 6gr;
  text-rendering: optimizeLegibility;
}


/**
 * Headers
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  @mixin heading-font;
  color: $darker-text-color;
  line-height: 1.25;
}

h1 {
  font-size: 2em;
  margin: 0 0 2gr;
}

h2 {
  font-size: 1.5em;
  margin: 2gr 0 2.5gr;
  padding: 1.5gr 0 0;

  &[id] {
    /*cursor: pointer; -- TODO */
  }
}

h3 {
  font-size: 1.170em;
  margin: 2.5gr 0 1.5gr;
}


/**
 * Links
 */
a {
  color: inherit;
  text-decoration: none;
}

p a,
ul a,
ol a {
  border-bottom: 1px solid color($text-color a(.5));
}


/**
 * Paragraphs and lists
 */
p, pre, ul, ol {
  margin: 0 0 2gr;
}

p + ul,
p + ol {
  margin-top: -1.25gr;
}

ul, ol {
  list-style: none;
  padding: 0;

  @media (--xsmall) {
    max-width: 85%;
  }

  & li {
    line-height: 1.7;
    margin-bottom: .7em;
    padding-left: rem(28px);
    position: relative;
  }

  & li:before {
    color: color($text-color a(.375));
    font-size: 0.9em;
    left: 0;
    line-height: 0.9;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

ol {
  counter-reset: ol-counter;

  & li {
    padding-left: rem(32px);
  }

  & li:before {
    content: counter(ol-counter) ".";
    counter-increment: ol-counter;
    margin-top: 0.075em;
  }
}

ul {
  & li { padding-left: rem(28px); }
  & li:before { content: "•"; }
}
