.block {
  display: block;
  font-size: .9rem;

  @media (--small) {
    flex: 1;
  }


  /**
   * {kind} Filler
   */
  &.block--filler {
    background: color($base07 a(.425));
    color: $base06;
    display: none;
    height: 25vw;
    min-height: rem(150px);
    position: relative;

    @media (--small) {
      display: block;
      height: auto;
    }

    &.has-content {
      background: transparent;
      box-shadow: 0 0 0 2px color($base06 a(.5)) inset;
      color: $base05;
      display: block;
    }

    &.has-content.has-fixed-height {
      @media (--small) {
        height: 15.5vw;
      }
    }
  }

  & .block--filler__inner {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);

    & .icon {
      height: 3.25gr;
      width: 3.25gr;
    }

    & .icon + span {
      @mixin font-smoothing;
      display: block;
      font-weight: 600;
      letter-spacing: .0125em;
      line-height: 1;
      margin-top: 1.25gr;
    }
  }


  /**
   * Title
   */
  & .block__title {
    font-size: 1.125rem;
    margin: 0 0 2gr;

    &.is-more-subtle {
      font-size: 1.025rem;
      font-weight: 400;
    }

    &.is-colored {
      color: $accent;
    }
  }


  /**
   * Text
   */
  & .block__text {
    max-width: rem(350px);
    padding-right: 4gr;
    text-align: justify;
  }

  & .block__text--subtle {
    font-size: .725rem;

    & a {
      color: inherit;
    }
  }

  & .block__text:last-child p:last-child {
    margin-bottom: 0;
  }


  /**
   * List
   */
  & .block__list {
    left: rem(-28px);
    position: relative;

    & li::before {
      content: none;
    }

    & li a > span {
      display: inline-block;
      margin-right: .5gr;
    }
  }

  & .block__list:last-child ul:last-child,
  & .block__list:last-child ol:last-child {
    margin-bottom: 0;
  }

  & .block__list.has-extra-space li {
    padding-bottom: 1gr;
  }

  & .block__list .block__list__affix {
    display: inline-block;
    font-size: 0.7em;
    font-style: italic;
    margin-left: 1gr;
    opacity: .475;
  }


  /**
   * List -- Bold
   */
  & .block__list.block__list--bold {
    & li a {
      display: inline-block;
      padding: .5gr 0;
    }
  }


}
