.block {
  display: block;
  font-size: .9rem;

  @media (--small) {
    flex: 1;
  }


  /**
   * {kind} Filler
   */
  &.block--filler {
    background: color($base07 a(.425));
    color: $base06;
    display: none;
    height: 25vw;
    min-height: rem(150px);
    position: relative;

    @media (--small) {
      display: block;
      height: auto;
    }

    &.has-content {
      background: transparent;
      box-shadow: 0 0 0 2px color($base06 a(.5)) inset;
      color: $base05;
      display: block;
    }

    &.has-content.has-fixed-height {
      @media (--small) {
        height: 15.5vw;
      }
    }
  }

  & .block--filler__inner {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);

    & .icon {
      height: 3.25gr;
      margin-bottom: 1.25gr;
      width: 3.25gr;
    }

    & .icon + span {
      @mixin heading-font;
      display: block;
      line-height: 1;
    }
  }


  /**
   * Title
   */
  & .block__title {
    font-size: 1.125rem;
    margin: 0 0 2gr;
  }


  /**
   * Text
   */
  & .block__text {
    max-width: 350px;
    padding-right: 4gr;
    text-align: justify;
  }

  & .block__text--subtle {
    font-size: .725rem;

    & a {
      color: inherit;
    }
  }

  & .block__text:last-child p:last-child {
    margin-bottom: 0;
  }


  /**
   * List
   */
  & .block__list {
    left: rem(-28px);
    position: relative;

    & li::before {
      content: none;
    }
  }

  & .block__list:last-child ul:last-child,
  & .block__list:last-child ol:last-child {
    margin-bottom: 0;
  }

  & .block__list.has-extra-space li {
    padding-bottom: 1gr;
  }


}
