.button,
button {
  @mixin default-font;
  @mixin font-smoothing;
  background: transparent;
  border: 2px solid color($accent a(.55));
  border-radius: 3px;
  color: $accent;
  cursor: pointer;
  display: inline-block;
  font-size: .75rem;
  font-weight: 700;
  padding: 1.125em;
  text-transform: uppercase;

  &:focus {
    outline: 0;
  }
}
