code[class^="language-"] {
  background: color($base07 a(.85));
}

pre[class^="language-"] {
  background: color($base07 a(.425));
}

pre[class^="language-"] {
  font-size: .95em;
  margin: 0 0 1.5rem;
  padding: 1.65em;
}

:not(pre) code[class^="language-"] {
  font-size: .95em;
  padding: .2em .25em;
}
