code, code.hljs {
  @mixin monospace-font;
  background: color($base07 a(.85));
  font-size: .95em;
  line-height: 1.4;
  padding: .2em .25em;
}

pre code, pre code.hljs {
  background: color($base07 a(.425));
  direction: ltr;
  display: block;
  hyphens: none;
  margin: 0 0 1.5rem;
  padding: 1.65em;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
}
