form {

  /**
   * Input
   */
  & input:not([type="submit"]),
  & textarea {
    @mixin default-font;
    border: 0;
    border-bottom: 1px solid $base06;
    border-radius: 0;
    box-sizing: border-box;
    color: $text-color;
    display: block;
    font-size: .9rem;
    height: 3rem;
    line-height: 1.5;
    padding: 0;
    position: relative;
    width: rem(350px);
    z-index: 0;

    &::placeholder {
      color: $base05;
    }

    &:focus {
      border-bottom-color: $accent;
      box-shadow: 0 2px 0 0 $accent, 0 -2px 0 0 $accent inset;
      outline: 0;
      z-index: 1;
    }

    &.has-full-width {
      width: 100%;
    }
  }

  & textarea {
    height: 10gr;
    padding: 1gr 0;
    resize: none;
  }

  /**
   * Label
   */
  & label {
    @mixin label-font;
    display: block;
    font-size: .825rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1px;

    &.is-subtle {
      color: $base04;
    }
  }

  /**
   * Errors
   */
  & .form__error {
    color: $base08;
    font-size: .95em;
    font-style: italic;
  }


}
