.header {
  color: $darker-text-color;
  font-size: .9rem;
  line-height: 2gr;
  margin: 0 0 3gr;

  & .container {
    display: flex;
    overflow: hidden;
    padding-bottom: 2gr;
    padding-top: 2gr;
    position: relative;
    white-space: nowrap;
  }

  & .container:after {
    background-color: #f3f3f3;
    bottom: 0;
    content: '';
    height: 1px;
    position: absolute;
    left: 1.5gr;
    right: 1.5gr;
  }

  & .header__col--right,
  & .header__logo {
    line-height: 2rem;
  }


  /**
   * Columns
   */
  & .header__col {
    flex: 1;
  }

  & .header__col--right {
    font-size: .7rem;
    letter-spacing: .2em;
    text-align: right;
    text-transform: uppercase;

    & span {
      @mixin font-smoothing;
      display: inline-block;
      opacity: .25;
      transform: translateY(2px);
    }
  }


  /**
   * Content
   */
  & .header__logo {
    @mixin heading-font;
    color: inherit;
    font-size: .85rem;
    font-weight: bold;
    letter-spacing: .1em;
  }

  & .header__go-up {
    display: inline-block;
    margin-left: 1.5gr;

    & .icon {
      color: $base0a;
      height: 1.5gr;
      transform: translateY(-8%);
      width: 1.5gr;
    }
  }

  & .header__cat {
    @mixin font-smoothing;
    @mixin heading-font;
    background: $base00;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: .85em;
    line-height: 1.85;
    margin-left: 1.5gr;
    padding: 1px 5px;
    text-transform: uppercase;
  }


}
