[hide-lt="xsmall"] { @media (--until-xsmall) { display: none !important; }}
[hide-lt="small"] { @media (--until-small) { display: none !important; }}
[hide-lt="medium"] { @media (--until-medium) { display: none !important; }}
